@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: justify;
}

body {
    background-image: linear-gradient(to right, rgb(212, 255, 0), rgb(94, 153, 0));
}

main {
    background-color: white;
    width: 600px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(104, 164, 2, 0.898);
}

h1 {
    text-align: center;
    color: rgba(174, 174, 23, 0.61);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.401);
}

h2 {
    color: rgb(144, 108, 25);
}