@charset "UTF-8";

    body {
        background-color: antiquewhite;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }

    h1 {
        color: #646464;
        background-color: rgb(180, 166, 147);
        border-radius: 10px;
      
    }

    h2 {
        color: #a19b9b;
    }

    p {
        text-align: justify;
    }
