@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-image: linear-gradient(to left, #ccdead, #dddead);
    width: 100vw;
    height: 100vh;
}

header {
    background-color: #6d906f;
    color: white;
    padding: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header > h1 {
    /*border: 1px dotted black;*/
    flex: 0 0 200px;
}

header > nav {
    /*border: 1px dotted black;*/

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

header > nav > a {
    background-color: #bbdead;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

header > nav > a:hover {
    background-color: #eedead;
    color: #6d906f;
    transition: background-color 0.5s ease;
}

section {
    background-color: #eedead;
    max-width: 900px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.458);
    text-align: justify;
}

main {
    display: flex;
    justify-content: center;
}